# sudo: false
language: go
go:
 - 1.2
 - 1.3
 - 1.4
 - 1.5
 - tip
before_install:
  - sudo apt-get update && sudo apt-get install ca-certificates && dpkg-reconfigure ca-certificates
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
script:
  - cd $TRAVIS_BUILD_DIR/dnsimple
  - $HOME/gopath/bin/goveralls -v -service=travis-ci
matrix:
  allow_failures:
    - go: tip
